{
  "openapi": "3.0.3",
  "info": {
    "title": "Clicksign API v3 (Envelope)",
    "version": "3.0",
    "description": "Especificação OpenAPI 3.0 gerada a partir da documentação pública da Clicksign (https://developers.clicksign.com/reference/comece-agora) para a API 3.0 baseada em Envelope. Autenticação via header `Authorization` com o Access Token gerado no painel Sandbox/Produção. Todas as requisições usam o padrão JSON:API (`Content-type: application/vnd.api+json`).",
    "contact": {
      "name": "Clicksign Developers",
      "url": "https://developers.clicksign.com"
    }
  },
  "servers": [
    {
      "url": "https://sandbox.clicksign.com/api/v3",
      "description": "Sandbox (ambiente de testes)"
    },
    {
      "url": "https://app.clicksign.com/api/v3",
      "description": "Produção — confirme com o time Clicksign antes do go-live"
    }
  ],
  "tags": [
    {
      "name": "Envelope"
    },
    {
      "name": "Documentos"
    },
    {
      "name": "Signatários"
    },
    {
      "name": "Requisitos"
    },
    {
      "name": "Observadores de Assinaturas"
    },
    {
      "name": "Notificações"
    },
    {
      "name": "Eventos"
    },
    {
      "name": "Webhooks"
    },
    {
      "name": "Modelos"
    },
    {
      "name": "Operações de Requisitos em Massa"
    },
    {
      "name": "Pastas"
    },
    {
      "name": "Termo Assinatura Automática"
    },
    {
      "name": "Usuários"
    },
    {
      "name": "Membros"
    },
    {
      "name": "Aceite por WhatsApp"
    }
  ],
  "security": [
    {
      "Authorization": []
    }
  ],
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Access Token gerado pelo gestor da conta (enviado sem prefixo \"Bearer\")."
      }
    }
  },
  "paths": {
    "/envelopes": {
      "post": {
        "tags": [
          "Envelope"
        ],
        "summary": "Criar Envelope",
        "description": "Setup do envelope",
        "operationId": "api-criar-envelope",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "default": "envelopes",
                        "enum": [
                          "envelopes"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Nome do envelope",
                            "default": "Envelope de Teste"
                          },
                          "deadline_at": {
                            "type": "string",
                            "description": "Data limite para o envelope e seus documentos (formato RFC 3339)"
                          },
                          "locale": {
                            "type": "string",
                            "description": "Idioma utilizado nos e-mails, página de assinatura e log do documento. Valor padrão é pt-BR",
                            "default": "pt-BR",
                            "enum": [
                              "pt-BR",
                              "en-US"
                            ]
                          },
                          "auto_close": {
                            "type": "boolean",
                            "description": "Finalização automática após a assinatura do último signatário. Valor padrão é true",
                            "default": true,
                            "enum": [
                              true,
                              false
                            ]
                          },
                          "remind_interval": {
                            "type": "string",
                            "description": "Determina se o documento terá opção de lembretes automáticos ativada ou desativada (null,1,2,3,7,14).",
                            "default": "3",
                            "enum": [
                              "1",
                              "2",
                              "3",
                              "7",
                              "14",
                              "null"
                            ]
                          },
                          "block_after_refusal": {
                            "type": "boolean",
                            "description": "Determina se o processo de assinatura tem que ser pausado ou não após um signatário ter recusado.",
                            "default": false,
                            "enum": [
                              true,
                              false
                            ]
                          },
                          "default_subject": {
                            "type": "string",
                            "description": "Define o assunto do e-mail que será enviado aos signatários na solicitação de assinatura."
                          },
                          "default_message": {
                            "type": "string",
                            "description": "Define a mensagem padrão que será enviada aos signatários."
                          },
                          "deadline_partial_signature_action": {
                            "type": "string",
                            "enum": [
                              "closed",
                              "canceled"
                            ]
                          },
                          "name1": {
                            "type": "string"
                          }
                        }
                      },
                      "relationships": {
                        "type": "object",
                        "properties": {
                          "folder": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "folders"
                                    ]
                                  },
                                  "id": {
                                    "type": "string",
                                    "description": "ID da pasta de origem, onde será criada a pasta atual."
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Created": {
                    "value": "{\n   \"data\":{\n      \"id\":\"6bb80fa1-4836-424a-9441-0108a7c54d04\",\n      \"type\":\"envelopes\",\n      \"links\":{\n         \"self\":\"https://sandbox.clicksign.com/api/v3/envelopes/6bb80fa1-4836-424a-9441-0108a7c54d04\"\n      },\n      \"attributes\":{\n         \"name\":\"teste\",\n         \"status\":\"draft\",\n         \"deadline_at\":\"2024-03-30T09:17:36.417-03:00\",\n         \"locale\":\"pt-BR\",\n         \"auto_close\":true,\n         \"rubric_enabled\":true,\n         \"remind_interval\":3,\n         \"block_after_refusal\":false,\n         \"default_message\":null,\n         \"created\":\"2024-02-29T09:17:36.418-03:00\",\n         \"modified\":\"2024-02-29T09:17:36.458-03:00\"\n      },\n      \"relationships\":{\n         \"documents\":{\n            \"links\":{\n               \"self\":\"https://sandbox.clicksign.com/api/v3/envelopes/6bb80fa1-4836-424a-9441-0108a7c54d04/relationships/documents\",\n               \"related\":\"https://sandbox.clicksign.com/api/v3/envelopes/6bb80fa1-4836-424a-9441-0108a7c54d04/documents\"\n            }\n         },\n         \"signers\":{\n            \"links\":{\n               \"self\":\"https://sandbox.clicksign.com/api/v3/envelopes/6bb80fa1-4836-424a-9441-0108a7c54d04/relationships/signers\",\n               \"related\":\"https://sandbox.clicksign.com/api/v3/envelopes/6bb80fa1-4836-424a-9441-0108a7c54d04/signers\"\n            }\n         },\n         \"requirements\":{\n            \"links\":{\n               \"self\":\"https://sandbox.clicksign.com/api/v3/envelopes/6bb80fa1-4836-424a-9441-0108a7c54d04/relationships/requirements\",\n               \"related\":\"https://sandbox.clicksign.com/api/v3/envelopes/6bb80fa1-4836-424a-9441-0108a7c54d04/requirements\"\n            }\n         }\n      }\n   }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "6bb80fa1-4836-424a-9441-0108a7c54d04"
                        },
                        "type": {
                          "type": "string",
                          "example": "envelopes"
                        },
                        "links": {
                          "type": "object",
                          "properties": {
                            "self": {
                              "type": "string",
                              "example": "https://sandbox.clicksign.com/api/v3/envelopes/6bb80fa1-4836-424a-9441-0108a7c54d04"
                            }
                          }
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "teste"
                            },
                            "status": {
                              "type": "string",
                              "example": "draft"
                            },
                            "deadline_at": {
                              "type": "string",
                              "example": "2024-03-30T09:17:36.417-03:00"
                            },
                            "locale": {
                              "type": "string",
                              "example": "pt-BR"
                            },
                            "auto_close": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            },
                            "rubric_enabled": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            },
                            "remind_interval": {
                              "type": "integer",
                              "example": 3,
                              "default": 0
                            },
                            "block_after_refusal": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            },
                            "default_message": {},
                            "created": {
                              "type": "string",
                              "example": "2024-02-29T09:17:36.418-03:00"
                            },
                            "modified": {
                              "type": "string",
                              "example": "2024-02-29T09:17:36.458-03:00"
                            }
                          }
                        },
                        "relationships": {
                          "type": "object",
                          "properties": {
                            "documents": {
                              "type": "object",
                              "properties": {
                                "links": {
                                  "type": "object",
                                  "properties": {
                                    "self": {
                                      "type": "string",
                                      "example": "https://sandbox.clicksign.com/api/v3/envelopes/6bb80fa1-4836-424a-9441-0108a7c54d04/relationships/documents"
                                    },
                                    "related": {
                                      "type": "string",
                                      "example": "https://sandbox.clicksign.com/api/v3/envelopes/6bb80fa1-4836-424a-9441-0108a7c54d04/documents"
                                    }
                                  }
                                }
                              }
                            },
                            "signers": {
                              "type": "object",
                              "properties": {
                                "links": {
                                  "type": "object",
                                  "properties": {
                                    "self": {
                                      "type": "string",
                                      "example": "https://sandbox.clicksign.com/api/v3/envelopes/6bb80fa1-4836-424a-9441-0108a7c54d04/relationships/signers"
                                    },
                                    "related": {
                                      "type": "string",
                                      "example": "https://sandbox.clicksign.com/api/v3/envelopes/6bb80fa1-4836-424a-9441-0108a7c54d04/signers"
                                    }
                                  }
                                }
                              }
                            },
                            "requirements": {
                              "type": "object",
                              "properties": {
                                "links": {
                                  "type": "object",
                                  "properties": {
                                    "self": {
                                      "type": "string",
                                      "example": "https://sandbox.clicksign.com/api/v3/envelopes/6bb80fa1-4836-424a-9441-0108a7c54d04/relationships/requirements"
                                    },
                                    "related": {
                                      "type": "string",
                                      "example": "https://sandbox.clicksign.com/api/v3/envelopes/6bb80fa1-4836-424a-9441-0108a7c54d04/requirements"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Bad Request": {
                    "value": "{\n\t\"errors\": [\n\t\t{\n\t\t\t\"code\": \"bad_request\",\n\t\t\t\"status\": 400,\n\t\t\t\"source\": {\n\t\t\t\t\"pointer\": \"/data/attributes/locale\"\n\t\t\t},\n\t\t\t\"detail\": \"locale deve estar em: pt-BR, en-US\"\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "bad_request"
                          },
                          "status": {
                            "type": "integer",
                            "example": 400,
                            "default": 0
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "pointer": {
                                "type": "string",
                                "example": "/data/attributes/locale"
                              }
                            }
                          },
                          "detail": {
                            "type": "string",
                            "example": "locale deve estar em: pt-BR, en-US"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Unprocesasble Entity": {
                    "value": "{\n\t\"errors\": [\n\t\t{\n\t\t\t\"title\": \"deve ser maior ou igual a 2024-02-29 09:20:09 -0300\",\n\t\t\t\"detail\": \"deadline_at - deve ser maior ou igual a 2024-02-29 09:20:09 -0300\",\n\t\t\t\"code\": \"100\",\n\t\t\t\"source\": {\n\t\t\t\t\"pointer\": \"/data/attributes/deadline_at\"\n\t\t\t},\n\t\t\t\"status\": \"422\"\n\t\t}\n}"
                  }
                }
              }
            }
          },
          "503": {
            "description": "503",
            "content": {
              "application/json": {
                "examples": {
                  "Service Unavailable": {
                    "value": "// O erro pode estar relacionado a não ativação do envelope em sua conta.\n// Entre em contato com o suporte para ativar ajuda@clicksign.com.\n{\n\t\"errors\": [\n\t\t{\n\t\t\t\"code\": \"service_unavailable\",\n\t\t\t\"status\": 503,\n\t\t\t\"title\": \"Verificação\",\n\t\t\t\"detail\": \"Serviço indisponível\"\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "service_unavailable"
                          },
                          "status": {
                            "type": "integer",
                            "example": 503,
                            "default": 0
                          },
                          "title": {
                            "type": "string",
                            "example": "Verificação"
                          },
                          "detail": {
                            "type": "string",
                            "example": "Serviço indisponível"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Envelope"
        ],
        "summary": "Listar Envelopes",
        "description": "Listar e consultar envelopes",
        "operationId": "api-listar-envelopes",
        "parameters": [
          {
            "name": "filter[status]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Informe um status caso deseje filtrar: draft, running, closed, canceled"
          },
          {
            "name": "filter[name]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Informe o nome completo do envelope a ser consultado"
          },
          {
            "name": "filter[created]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Informe os intervalos de datas de criação no padrão da especificação"
          },
          {
            "name": "filter[modified]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Informe os intervalos de datas de atualização no padrão da especificação"
          },
          {
            "name": "filter[deadline_at]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Informe os intervalos de datas de deadline conforme [padrão da especificação](https://jsonapi.org/recommendations/#filtering) (ISO 8601 e separadas por vírgula)"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Ordene por nome do envelope (name crescente e -name para decrescente)"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n\t\"data\": [],\n\t\"meta\": {\n\t\t\"record_count\": 0\n\t},\n\t\"links\": {\n\t\t\"first\": \"https://sandbox.clicksign.com/api/v3/envelopes?page%5Bnumber%5D=1&page%5Bsize%5D=20\",\n\t\t\"last\": \"https://sandbox.clicksign.com/api/v3/envelopes?page%5Bnumber%5D=1&page%5Bsize%5D=20\"\n\t}\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "record_count": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string",
                          "example": "https://sandbox.clicksign.com/api/v3/envelopes?page%5Bnumber%5D=1&page%5Bsize%5D=20"
                        },
                        "last": {
                          "type": "string",
                          "example": "https://sandbox.clicksign.com/api/v3/envelopes?page%5Bnumber%5D=1&page%5Bsize%5D=20"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": "{\n\t\"errors\": [\n\t\t{\n\t\t\t\"code\": \"unauthorized\",\n\t\t\t\"status\": 401,\n\t\t\t\"title\": \"Não autorizado\",\n\t\t\t\"detail\": \"Access Token inválido\"\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "unauthorized"
                          },
                          "status": {
                            "type": "integer",
                            "example": 401,
                            "default": 0
                          },
                          "title": {
                            "type": "string",
                            "example": "Não autorizado"
                          },
                          "detail": {
                            "type": "string",
                            "example": "Access Token inválido"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "value": "{\n\t\"errors\": [\n\t\t{\n\t\t\t\"code\": \"forbidden\",\n\t\t\t\"status\": 403,\n\t\t\t\"title\": \"Verificação de conta\",\n\t\t\t\"detail\": \"Conta bloqueada, entre em contato com ajuda@clicksign.com\"\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "forbidden"
                          },
                          "status": {
                            "type": "integer",
                            "example": 403,
                            "default": 0
                          },
                          "title": {
                            "type": "string",
                            "example": "Verificação de conta"
                          },
                          "detail": {
                            "type": "string",
                            "example": "Conta bloqueada, entre em contato com ajuda@clicksign.com"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "503",
            "content": {
              "application/json": {
                "examples": {
                  "Service Unavailable": {
                    "value": "// O erro pode estar relacionado a não ativação do envelope em sua conta.\n// Entre em contato com o suporte para ativar ajuda@clicksign.com.\n{\n\t\"errors\": [\n\t\t{\n\t\t\t\"code\": \"service_unavailable\",\n\t\t\t\"status\": 503,\n\t\t\t\"title\": \"Verificação\",\n\t\t\t\"detail\": \"Serviço indisponível\"\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "service_unavailable"
                          },
                          "status": {
                            "type": "integer",
                            "example": 503,
                            "default": 0
                          },
                          "title": {
                            "type": "string",
                            "example": "Verificação"
                          },
                          "detail": {
                            "type": "string",
                            "example": "Serviço indisponível"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/envelopes/{envelope_id}": {
      "patch": {
        "tags": [
          "Envelope"
        ],
        "summary": "Ativar e Editar Envelope",
        "description": "Ativar ou atualizar configurações de um envelope. <br> Para ativar um envelope na plataforma, cada signatário deve possuir pelo menos um critério de autenticação configurado.  Em caso de dúvidas recomendamos a leitura do <Anchor target=\"_blank\" href=\"https://developers.clicksign.com/docs/guia-de-criacao-o-passo-a-passo-padrao\">Guia de criação</Anchor>",
        "operationId": "api-editar-envelope",
        "parameters": [
          {
            "name": "envelope_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "description": "ID do Envelope que deseja atualizar",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "ID do Envelope que deseja atualizar"
                      },
                      "type": {
                        "type": "string",
                        "default": "envelopes",
                        "enum": [
                          "envelopes"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "description": "O status do envelope deve ser `running` para ativá-lo e não é possível retornar ao `draft`.",
                            "enum": [
                              "draft",
                              "running"
                            ]
                          },
                          "name": {
                            "type": "string",
                            "description": "Nome do envelope"
                          },
                          "deadline_at": {
                            "type": "string",
                            "description": "Data limite para o envelope e seus documentos (formato RFC 3339)"
                          },
                          "locale": {
                            "type": "string",
                            "description": "Idioma utilizado nos e-mails, página de assinatura e log do documento.",
                            "enum": [
                              "pt-BR",
                              "en-US"
                            ]
                          },
                          "auto_close": {
                            "type": "boolean",
                            "description": "Finalização automática após a assinatura do último signatário",
                            "enum": [
                              true,
                              false
                            ]
                          },
                          "remind_interval": {
                            "type": "string",
                            "description": "Determina se o documento terá opção de lembretes automáticos ativada ou desativada.",
                            "enum": [
                              "1",
                              "2",
                              "3",
                              "7",
                              "14",
                              "null"
                            ]
                          },
                          "block_after_refusal": {
                            "type": "boolean",
                            "description": "Determina se o processo de assinatura tem que ser pausado ou não após um signatário ter recusado.",
                            "enum": [
                              true,
                              false
                            ]
                          },
                          "default_subject": {
                            "type": "string",
                            "description": "Define o assunto do e-mail que será enviado aos signatários na solicitação de assinatura. <br/>Disponível apenas quando estado é `draft`."
                          },
                          "default_message": {
                            "type": "string",
                            "description": "Define a mensagem padrão que será enviada aos signatários."
                          },
                          "deadline_partial_signature_action": {
                            "type": "string",
                            "enum": [
                              "closed",
                              "canceled"
                            ]
                          }
                        }
                      },
                      "relationships": {
                        "type": "object",
                        "properties": {
                          "folder": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "folders"
                                    ]
                                  },
                                  "id": {
                                    "type": "string",
                                    "description": "ID da pasta de origem, onde será criada a pasta atual."
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n\t\"data\": {\n\t\t\"id\": \"030f3922-68da-47df-bbe4-068c8f9ae432\",\n\t\t\"type\": \"envelopes\",\n\t\t\"links\": {\n\t\t\t\"self\": \"https://sandbox.clicksign.com/api/v3/envelopes/030f3922-68da-47df-bbe4-068c8f9ae432\"\n\t\t},\n\t\t\"attributes\": {\n\t\t\t\"name\": \"Envelope de Teste\",\n\t\t\t\"status\": \"running\",\n\t\t\t\"deadline_at\": \"2024-03-16T09:50:35.755-03:00\",\n\t\t\t\"locale\": \"pt-BR\",\n\t\t\t\"auto_close\": true,\n\t\t\t\"rubric_enabled\": true,\n\t\t\t\"remind_interval\": 3,\n\t\t\t\"block_after_refusal\": false,\n\t\t\t\"default_message\": \"Mensagem de envelope\\n- com quebra\\n- de linhas\",\n\t\t\t\"created\": \"2024-02-15T09:50:35.757-03:00\",\n\t\t\t\"modified\": \"2024-02-15T09:50:37.662-03:00\"\n\t\t},\n\t\t\"relationships\": {\n\t\t\t\"documents\": {\n\t\t\t\t\"links\": {\n\t\t\t\t\t\"self\": \"https://sandbox.clicksign.com/api/v3/envelopes/030f3922-68da-47df-bbe4-068c8f9ae432/relationships/documents\",\n\t\t\t\t\t\"related\": \"https://sandbox.clicksign.com/api/v3/envelopes/030f3922-68da-47df-bbe4-068c8f9ae432/documents\"\n\t\t\t\t}\n\t\t\t},\n\t\t\t\"signers\": {\n\t\t\t\t\"links\": {\n\t\t\t\t\t\"self\": \"https://sandbox.clicksign.com/api/v3/envelopes/030f3922-68da-47df-bbe4-068c8f9ae432/relationships/signers\",\n\t\t\t\t\t\"related\": \"https://sandbox.clicksign.com/api/v3/envelopes/030f3922-68da-47df-bbe4-068c8f9ae432/signers\"\n\t\t\t\t}\n\t\t\t},\n\t\t\t\"requirements\": {\n\t\t\t\t\"links\": {\n\t\t\t\t\t\"self\": \"https://sandbox.clicksign.com/api/v3/envelopes/030f3922-68da-47df-bbe4-068c8f9ae432/relationships/requirements\",\n\t\t\t\t\t\"related\": \"https://sandbox.clicksign.com/api/v3/envelopes/030f3922-68da-47df-bbe4-068c8f9ae432/requirements\"\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t}\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "030f3922-68da-47df-bbe4-068c8f9ae432"
                        },
                        "type": {
                          "type": "string",
                          "example": "envelopes"
                        },
                        "links": {
                          "type": "object",
                          "properties": {
                            "self": {
                              "type": "string",
                              "example": "https://sandbox.clicksign.com/api/v3/envelopes/030f3922-68da-47df-bbe4-068c8f9ae432"
                            }
                          }
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "Envelope de Teste"
                            },
                            "status": {
                              "type": "string",
                              "example": "running"
                            },
                            "deadline_at": {
                              "type": "string",
                              "example": "2024-03-16T09:50:35.755-03:00"
                            },
                            "locale": {
                              "type": "string",
                              "example": "pt-BR"
                            },
                            "auto_close": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            },
                            "rubric_enabled": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            },
                            "remind_interval": {
                              "type": "integer",
                              "example": 3,
                              "default": 0
                            },
                            "block_after_refusal": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            },
                            "default_message": {
                              "type": "string",
                              "example": "Mensagem de envelope\n- com quebra\n- de linhas"
                            },
                            "created": {
                              "type": "string",
                              "example": "2024-02-15T09:50:35.757-03:00"
                            },
                            "modified": {
                              "type": "string",
                              "example": "2024-02-15T09:50:37.662-03:00"
                            }
                          }
                        },
                        "relationships": {
                          "type": "object",
                          "properties": {
                            "documents": {
                              "type": "object",
                              "properties": {
                                "links": {
                                  "type": "object",
                                  "properties": {
                                    "self": {
                                      "type": "string",
                                      "example": "https://sandbox.clicksign.com/api/v3/envelopes/030f3922-68da-47df-bbe4-068c8f9ae432/relationships/documents"
                                    },
                                    "related": {
                                      "type": "string",
                                      "example": "https://sandbox.clicksign.com/api/v3/envelopes/030f3922-68da-47df-bbe4-068c8f9ae432/documents"
                                    }
                                  }
                                }
                              }
                            },
                            "signers": {
                              "type": "object",
                              "properties": {
                                "links": {
                                  "type": "object",
                                  "properties": {
                                    "self": {
                                      "type": "string",
                                      "example": "https://sandbox.clicksign.com/api/v3/envelopes/030f3922-68da-47df-bbe4-068c8f9ae432/relationships/signers"
                                    },
                                    "related": {
                                      "type": "string",
                                      "example": "https://sandbox.clicksign.com/api/v3/envelopes/030f3922-68da-47df-bbe4-068c8f9ae432/signers"
                                    }
                                  }
                                }
                              }
                            },
                            "requirements": {
                              "type": "object",
                              "properties": {
                                "links": {
                                  "type": "object",
                                  "properties": {
                                    "self": {
                                      "type": "string",
                                      "example": "https://sandbox.clicksign.com/api/v3/envelopes/030f3922-68da-47df-bbe4-068c8f9ae432/relationships/requirements"
                                    },
                                    "related": {
                                      "type": "string",
                                      "example": "https://sandbox.clicksign.com/api/v3/envelopes/030f3922-68da-47df-bbe4-068c8f9ae432/requirements"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Bad Request": {
                    "value": "{\n\t\"errors\": [\n\t\t{\n\t\t\t\"code\": \"bad_request\",\n\t\t\t\"status\": 400,\n\t\t\t\"source\": {\n\t\t\t\t\"pointer\": \"/data/attributes/deadline_a2t\"\n\t\t\t},\n\t\t\t\"detail\": \"deadline_a2t não está disponível\"\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "bad_request"
                          },
                          "status": {
                            "type": "integer",
                            "example": 400,
                            "default": 0
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "pointer": {
                                "type": "string",
                                "example": "/data/attributes/deadline_a2t"
                              }
                            }
                          },
                          "detail": {
                            "type": "string",
                            "example": "deadline_a2t não está disponível"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Not Found": {
                    "value": "{\n\t\"errors\": [\n\t\t{\n\t\t\t\"title\": \"Registro não encontrado\",\n\t\t\t\"detail\": \"O registro identificado por 6f3200ae-a89d-4c86-81bf-685ccb71a8d2 não pôde ser encontrado\",\n\t\t\t\"code\": \"404\",\n\t\t\t\"status\": \"404\"\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "example": "Registro não encontrado"
                          },
                          "detail": {
                            "type": "string",
                            "example": "O registro identificado por 6f3200ae-a89d-4c86-81bf-685ccb71a8d2 não pôde ser encontrado"
                          },
                          "code": {
                            "type": "string",
                            "example": "404"
                          },
                          "status": {
                            "type": "string",
                            "example": "404"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Unprocessable Entity": {
                    "value": "{\n\t\"errors\": [\n\t\t{\n\t\t\t\"title\": \"deve ser maior ou igual a 2024-02-29 09:20:09 -0300\",\n\t\t\t\"detail\": \"deadline_at - deve ser maior ou igual a 2024-02-29 09:20:09 -0300\",\n\t\t\t\"code\": \"100\",\n\t\t\t\"source\": {\n\t\t\t\t\"pointer\": \"/data/attributes/deadline_at\"\n\t\t\t},\n\t\t\t\"status\": \"422\"\n\t\t}\n}"
                  }
                }
              }
            }
          },
          "503": {
            "description": "503",
            "content": {
              "application/json": {
                "examples": {
                  "Service Unavailable": {
                    "value": "// O erro pode estar relacionado a não ativação do envelope em sua conta.\n// Entre em contato com o suporte para ativar ajuda@clicksign.com.\n{\n\t\"errors\": [\n\t\t{\n\t\t\t\"code\": \"service_unavailable\",\n\t\t\t\"status\": 503,\n\t\t\t\"title\": \"Verificação\",\n\t\t\t\"detail\": \"Serviço indisponível\"\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "service_unavailable"
                          },
                          "status": {
                            "type": "integer",
                            "example": 503,
                            "default": 0
                          },
                          "title": {
                            "type": "string",
                            "example": "Verificação"
                          },
                          "detail": {
                            "type": "string",
                            "example": "Serviço indisponível"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Envelope"
        ],
        "summary": "Detalhes do Envelope",
        "description": "Visualizar estado atual do envelope",
        "operationId": "api-detalhes-do-envelope",
        "parameters": [
          {
            "name": "envelope_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "description": "ID do Envelope que deseja visualizar",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n\t\"data\": {\n\t\t\"id\": \"1108816e-a8da-41ed-b9e9-8d5111eb1f0d\",\n\t\t\"type\": \"envelopes\",\n\t\t\"links\": {\n\t\t\t\"self\": \"https://sandbox.clicksign.com/api/v3/envelopes/1108816e-a8da-41ed-b9e9-8d5111eb1f0d\"\n\t\t},\n\t\t\"attributes\": {\n\t\t\t\"name\": \"Envelope de Teste\",\n\t\t\t\"status\": \"closed\",\n\t\t\t\"deadline_at\": \"2023-11-11T10:05:35.406-03:00\",\n\t\t\t\"locale\": \"pt-BR\",\n\t\t\t\"auto_close\": true,\n\t\t\t\"rubric_enabled\": true,\n\t\t\t\"remind_interval\": 1,\n\t\t\t\"block_after_refusal\": false,\n\t\t\t\"default_message\": \"mensagem customizada\",\n\t\t\t\"created\": \"2023-09-14T11:22:07.128-03:00\",\n\t\t\t\"modified\": \"2023-09-14T11:25:33.411-03:00\"\n\t\t},\n\t\t\"relationships\": {\n\t\t\t\"documents\": {\n\t\t\t\t\"links\": {\n\t\t\t\t\t\"self\": \"https://sandbox.clicksign.com/api/v3/envelopes/1108816e-a8da-41ed-b9e9-8d5111eb1f0d/relationships/documents\",\n\t\t\t\t\t\"related\": \"https://sandbox.clicksign.com/api/v3/envelopes/1108816e-a8da-41ed-b9e9-8d5111eb1f0d/documents\"\n\t\t\t\t}\n\t\t\t},\n\t\t\t\"signers\": {\n\t\t\t\t\"links\": {\n\t\t\t\t\t\"self\": \"https://sandbox.clicksign.com/api/v3/envelopes/1108816e-a8da-41ed-b9e9-8d5111eb1f0d/relationships/signers\",\n\t\t\t\t\t\"related\": \"https://sandbox.clicksign.com/api/v3/envelopes/1108816e-a8da-41ed-b9e9-8d5111eb1f0d/signers\"\n\t\t\t\t}\n\t\t\t},\n\t\t\t\"requirements\": {\n\t\t\t\t\"links\": {\n\t\t\t\t\t\"self\": \"https://sandbox.clicksign.com/api/v3/envelopes/1108816e-a8da-41ed-b9e9-8d5111eb1f0d/relationships/requirements\",\n\t\t\t\t\t\"related\": \"https://sandbox.clicksign.com/api/v3/envelopes/1108816e-a8da-41ed-b9e9-8d5111eb1f0d/requirements\"\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t}\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "1108816e-a8da-41ed-b9e9-8d5111eb1f0d"
                        },
                        "type": {
                          "type": "string",
                          "example": "envelopes"
                        },
                        "links": {
                          "type": "object",
                          "properties": {
                            "self": {
                              "type": "string",
                              "example": "https://sandbox.clicksign.com/api/v3/envelopes/1108816e-a8da-41ed-b9e9-8d5111eb1f0d"
                            }
                          }
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "Envelope de Teste"
                            },
                            "status": {
                              "type": "string",
                              "example": "closed"
                            },
                            "deadline_at": {
                              "type": "string",
                              "example": "2023-11-11T10:05:35.406-03:00"
                            },
                            "locale": {
                              "type": "string",
                              "example": "pt-BR"
                            },
                            "auto_close": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            },
                            "rubric_enabled": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            },
                            "remind_interval": {
                              "type": "integer",
                              "example": 1,
                              "default": 0
                            },
                            "block_after_refusal": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            },
                            "default_message": {
                              "type": "string",
                              "example": "mensagem customizada"
                            },
                            "created": {
                              "type": "string",
                              "example": "2023-09-14T11:22:07.128-03:00"
                            },
                            "modified": {
                              "type": "string",
                              "example": "2023-09-14T11:25:33.411-03:00"
                            }
                          }
                        },
                        "relationships": {
                          "type": "object",
                          "properties": {
                            "documents": {
                              "type": "object",
                              "properties": {
                                "links": {
                                  "type": "object",
                                  "properties": {
                                    "self": {
                                      "type": "string",
                                      "example": "https://sandbox.clicksign.com/api/v3/envelopes/1108816e-a8da-41ed-b9e9-8d5111eb1f0d/relationships/documents"
                                    },
                                    "related": {
                                      "type": "string",
                                      "example": "https://sandbox.clicksign.com/api/v3/envelopes/1108816e-a8da-41ed-b9e9-8d5111eb1f0d/documents"
                                    }
                                  }
                                }
                              }
                            },
                            "signers": {
                              "type": "object",
                              "properties": {
                                "links": {
                                  "type": "object",
                                  "properties": {
                                    "self": {
                                      "type": "string",
                                      "example": "https://sandbox.clicksign.com/api/v3/envelopes/1108816e-a8da-41ed-b9e9-8d5111eb1f0d/relationships/signers"
                                    },
                                    "related": {
                                      "type": "string",
                                      "example": "https://sandbox.clicksign.com/api/v3/envelopes/1108816e-a8da-41ed-b9e9-8d5111eb1f0d/signers"
                                    }
                                  }
                                }
                              }
                            },
                            "requirements": {
                              "type": "object",
                              "properties": {
                                "links": {
                                  "type": "object",
                                  "properties": {
                                    "self": {
                                      "type": "string",
                                      "example": "https://sandbox.clicksign.com/api/v3/envelopes/1108816e-a8da-41ed-b9e9-8d5111eb1f0d/relationships/requirements"
                                    },
                                    "related": {
                                      "type": "string",
                                      "example": "https://sandbox.clicksign.com/api/v3/envelopes/1108816e-a8da-41ed-b9e9-8d5111eb1f0d/requirements"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Not Found": {
                    "value": "{\n\t\"errors\": [\n\t\t{\n\t\t\t\"title\": \"Registro não encontrado\",\n\t\t\t\"detail\": \"O registro identificado por 1108816e-a8da-41ed-b9e9-8d5111eb1f02 não pôde ser encontrado\",\n\t\t\t\"code\": \"404\",\n\t\t\t\"status\": \"404\"\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "example": "Registro não encontrado"
                          },
                          "detail": {
                            "type": "string",
                            "example": "O registro identificado por 1108816e-a8da-41ed-b9e9-8d5111eb1f02 não pôde ser encontrado"
                          },
                          "code": {
                            "type": "string",
                            "example": "404"
                          },
                          "status": {
                            "type": "string",
                            "example": "404"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "503",
            "content": {
              "application/json": {
                "examples": {
                  "Service Unavailable": {
                    "value": "// O erro pode estar relacionado a não ativação do envelope em sua conta.\n// Entre em contato com o suporte para ativar ajuda@clicksign.com.\n{\n\t\"errors\": [\n\t\t{\n\t\t\t\"code\": \"service_unavailable\",\n\t\t\t\"status\": 503,\n\t\t\t\"title\": \"Verificação\",\n\t\t\t\"detail\": \"Serviço indisponível\"\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "service_unavailable"
                          },
                          "status": {
                            "type": "integer",
                            "example": 503,
                            "default": 0
                          },
                          "title": {
                            "type": "string",
                            "example": "Verificação"
                          },
                          "detail": {
                            "type": "string",
                            "example": "Serviço indisponível"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Envelope"
        ],
        "summary": "Excluir Envelope",
        "description": "Excluir envelopes que estejam com estado em rascunho (draft)",
        "operationId": "api-excluir-envelope",
        "parameters": [
          {
            "name": "envelope_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "description": "ID do Envelope que deseja atualizar",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "No Content": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "value": "{\n\t\"errors\": [\n\t\t{\n\t\t\t\"code\": \"forbidden\",\n\t\t\t\"status\": 403,\n\t\t\t\"title\": \"Verificação\",\n\t\t\t\"detail\": \"envelope não está com status draft\"\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "forbidden"
                          },
                          "status": {
                            "type": "integer",
                            "example": 403,
                            "default": 0
                          },
                          "title": {
                            "type": "string",
                            "example": "Verificação"
                          },
                          "detail": {
                            "type": "string",
                            "example": "envelope não está com status draft"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Not Found": {
                    "value": "{\n\t\"errors\": [\n\t\t{\n\t\t\t\"title\": \"Registro não encontrado\",\n\t\t\t\"detail\": \"O registro identificado por a3976371-2ed9-4898-8ce7-0c6ede832a95 não pôde ser encontrado\",\n\t\t\t\"code\": \"404\",\n\t\t\t\"status\": \"404\"\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "example": "Registro não encontrado"
                          },
                          "detail": {
                            "type": "string",
                            "example": "O registro identificado por a3976371-2ed9-4898-8ce7-0c6ede832a95 não pôde ser encontrado"
                          },
                          "code": {
                            "type": "string",
                            "example": "404"
                          },
                          "status": {
                            "type": "string",
                            "example": "404"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "503",
            "content": {
              "application/json": {
                "examples": {
                  "Service Unavailable": {
                    "value": "// O erro pode estar relacionado a não ativação do envelope em sua conta.\n// Entre em contato com o suporte para ativar ajuda@clicksign.com.\n{\n\t\"errors\": [\n\t\t{\n\t\t\t\"code\": \"service_unavailable\",\n\t\t\t\"status\": 503,\n\t\t\t\"title\": \"Verificação\",\n\t\t\t\"detail\": \"Serviço indisponível\"\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "service_unavailable"
                          },
                          "status": {
                            "type": "integer",
                            "example": 503,
                            "default": 0
                          },
                          "title": {
                            "type": "string",
                            "example": "Verificação"
                          },
                          "detail": {
                            "type": "string",
                            "example": "Serviço indisponível"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/envelopes/{envelope_id}/documents": {
      "get": {
        "tags": [
          "Documentos"
        ],
        "summary": "Listar Documentos",
        "description": "Listar Documentos de um Envelope",
        "operationId": "api-listar-documentos",
        "parameters": [
          {
            "name": "envelope_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "description": "ID do envelope ao qual deseja listar os documentos",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n\t\"data\": [\n\t\t{\n\t\t\t\"id\": \"b0cedde9-0ad7-4417-8d94-300709c00d1b\",\n\t\t\t\"type\": \"documents\",\n\t\t\t\"links\": {\n\t\t\t\t\"self\": \"https://sandbox.clicksign.com/api/v3/envelopes/694ab0e3-1983-4c0b-9ea4-c8c82b73939a/documents/b0cedde9-0ad7-4417-8d94-300709c00d1b\",\n\t\t\t\t\"files\": {\n\t\t\t\t\t\"original\": \"https://clicksign-sandbox-content.s3.amazonaws.com/2024/03/01/02/54/19/f51f3531-c248-481a-9694-c6b9ed7b78be/arquivo.pdf?X-Amz-Expires=299&X-Amz-Date=20240304T122700Z&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEHsaCXVzLWVhc3QtMSJGMEQCIHyYg09owqVR4R0zziI%2BXyXsSY681URT8tphZqFkkB5wAiA2Hx5wTJPiXnshGmO1vB6LLbL1lcXiQFFeJIGCy7gyACq6BQh0EAMaDDc0MDY2MjI3ODc5MyIMLTrL0qmZvz1cf%2BoYKpcFSS220xXilGDtFlaeR6tmgsatxkZ266LO5SmY9BO61MSFpQiT9EPiK8Mj46TEP5xQCv2epvHSj2KZh9w12xrygNe%2Bu%2FdYePdP%2Bzmm232l7atFEHOQBN0euo8jFdQQb79%2Bj1hZ46Rp0ZUYoFxIaGVaZQgAUjGRKwediGLhTVy7XH4gIy2ihQSkhm%2BWp7PIZTvuuekp4s4vpY0kx3yxroIA%2F8wiha%2FX2mmaAkzr%2Fh2xZxJtLpCW7XLdBcWLbkPBcekCzSe162HACGqsccvTIdXIMvQAKO1LxhtpOWrvwhNYdgbyj%2FINrwZSYASpm0S9kVIE1aUwoPwpnqRI6dMFOkwPJc0Og4FBX%2F%2BqVVK2PsfSWprRfVAGSqFuzzHXMNL0Qftw2g1A4TlyEQNiNAIHprV29NE54DuaTBKPKVgHSBGDEIJ1JYKCYEDS%2BU8MQJ4jaEgy4YqlbeVw8YOWBmY1rSnPLNYtFBeIy2yofddTV2KkCo2JkGCB05q2%2B67Gl%2BvHbAOe9WNrlUxmVzX%2FNsipr0yvfC8zAigr%2FNVC1U2MPBHnrOVNB9k0pnSUhdGRX7%2Bd7yHLjbFBPdXuXalpVa%2Fa8Df%2BGjsozMu8UQ2bGKxa%2BWUZHGHLT%2BKzpalylu8UeaI0WfSsjN6g2xBkCQkD7gEnsBnnSLA9qZKRcZxR8P6NwIdBdw6ASH%2FIocRgjam8E%2BzTRcpq%2B1qZo8Spd4taWD87ysf%2FYmXR4I9hWSM0NEcksZzzEoNSioOKEiRD0MxJrlimWhegDQKZbdiiOY0xru%2BLg8BthdKFpIX1pFDUrysw6bNTf1p4cMCD%2F4qPggmM57cYI1V6ZhgcWD4e6Vjcqdoqmfo%2Bh5c8INAwIVQHbfJn%2BjPkAaLmcJe9UPkNMOnIlq8GOrIB41pXdu9LiQtlZRcyQaaVRnWEIpVB%2Fm5EAetNmjkBPjGJ0huTDHXyDAVP0C%2BmR0eOXGLlLKUQQz5X7SRUtiHH6Tse6vV3gjHf4gkblS5TmlwNjr8QQFaM9vl8U9gYwWsm17SS6554sUqm42mPq6QrslnHs6DVjbLWCinti1QY%2B%2BCkxY%2FjqZFM6h5hRLi4fwuSB3SDebm7aVuK6tjX6EJks3xaASqEgLiWw0G%2FxOg0CCl9gw%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA2Y4XJPKE2PR5IGHH%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=f5104b365e3805792bccfa981d473c0dd98caab1c79526386a2e63c90ee26164\"\n\t\t\t\t}\n\t\t\t},\n\t\t\t\"attributes\": {\n\t\t\t\t\"status\": \"running\",\n\t\t\t\t\"filename\": \"arquivo.pdf\",\n\t\t\t\t\"template\": null,\n\t\t\t\t\"created\": \"2024-02-29T23:54:19.576-03:00\",\n\t\t\t\t\"modified\": \"2024-02-29T23:56:45.462-03:00\"\n\t\t\t}\n\t\t}\n\t],\n\t\"meta\": {\n\t\t\"record_count\": 1\n\t},\n\t\"links\": {\n\t\t\"first\": \"https://sandbox.clicksign.com/api/v3/envelopes/694ab0e3-1983-4c0b-9ea4-c8c82b73939a/documents?page%5Bnumber%5D=1&page%5Bsize%5D=20\",\n\t\t\"last\": \"https://sandbox.clicksign.com/api/v3/envelopes/694ab0e3-1983-4c0b-9ea4-c8c82b73939a/documents?page%5Bnumber%5D=1&page%5Bsize%5D=20\"\n\t}\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "b0cedde9-0ad7-4417-8d94-300709c00d1b"
                          },
                          "type": {
                            "type": "string",
                            "example": "documents"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "self": {
                                "type": "string",
                                "example": "https://sandbox.clicksign.com/api/v3/envelopes/694ab0e3-1983-4c0b-9ea4-c8c82b73939a/documents/b0cedde9-0ad7-4417-8d94-300709c00d1b"
                              },
                              "files": {
                                "type": "object",
                                "properties": {
                                  "original": {
                                    "type": "string",
                                    "example": "https://clicksign-sandbox-content.s3.amazonaws.com/2024/03/01/02/54/19/f51f3531-c248-481a-9694-c6b9ed7b78be/arquivo.pdf?X-Amz-Expires=299&X-Amz-Date=20240304T122700Z&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEHsaCXVzLWVhc3QtMSJGMEQCIHyYg09owqVR4R0zziI%2BXyXsSY681URT8tphZqFkkB5wAiA2Hx5wTJPiXnshGmO1vB6LLbL1lcXiQFFeJIGCy7gyACq6BQh0EAMaDDc0MDY2MjI3ODc5MyIMLTrL0qmZvz1cf%2BoYKpcFSS220xXilGDtFlaeR6tmgsatxkZ266LO5SmY9BO61MSFpQiT9EPiK8Mj46TEP5xQCv2epvHSj2KZh9w12xrygNe%2Bu%2FdYePdP%2Bzmm232l7atFEHOQBN0euo8jFdQQb79%2Bj1hZ46Rp0ZUYoFxIaGVaZQgAUjGRKwediGLhTVy7XH4gIy2ihQSkhm%2BWp7PIZTvuuekp4s4vpY0kx3yxroIA%2F8wiha%2FX2mmaAkzr%2Fh2xZxJtLpCW7XLdBcWLbkPBcekCzSe162HACGqsccvTIdXIMvQAKO1LxhtpOWrvwhNYdgbyj%2FINrwZSYASpm0S9kVIE1aUwoPwpnqRI6dMFOkwPJc0Og4FBX%2F%2BqVVK2PsfSWprRfVAGSqFuzzHXMNL0Qftw2g1A4TlyEQNiNAIHprV29NE54DuaTBKPKVgHSBGDEIJ1JYKCYEDS%2BU8MQJ4jaEgy4YqlbeVw8YOWBmY1rSnPLNYtFBeIy2yofddTV2KkCo2JkGCB05q2%2B67Gl%2BvHbAOe9WNrlUxmVzX%2FNsipr0yvfC8zAigr%2FNVC1U2MPBHnrOVNB9k0pnSUhdGRX7%2Bd7yHLjbFBPdXuXalpVa%2Fa8Df%2BGjsozMu8UQ2bGKxa%2BWUZHGHLT%2BKzpalylu8UeaI0WfSsjN6g2xBkCQkD7gEnsBnnSLA9qZKRcZxR8P6NwIdBdw6ASH%2FIocRgjam8E%2BzTRcpq%2B1qZo8Spd4taWD87ysf%2FYmXR4I9hWSM0NEcksZzzEoNSioOKEiRD0MxJrlimWhegDQKZbdiiOY0xru%2BLg8BthdKFpIX1pFDUrysw6bNTf1p4cMCD%2F4qPggmM57cYI1V6ZhgcWD4e6Vjcqdoqmfo%2Bh5c8INAwIVQHbfJn%2BjPkAaLmcJe9UPkNMOnIlq8GOrIB41pXdu9LiQtlZRcyQaaVRnWEIpVB%2Fm5EAetNmjkBPjGJ0huTDHXyDAVP0C%2BmR0eOXGLlLKUQQz5X7SRUtiHH6Tse6vV3gjHf4gkblS5TmlwNjr8QQFaM9vl8U9gYwWsm17SS6554sUqm42mPq6QrslnHs6DVjbLWCinti1QY%2B%2BCkxY%2FjqZFM6h5hRLi4fwuSB3SDebm7aVuK6tjX6EJks3xaASqEgLiWw0G%2FxOg0CCl9gw%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA2Y4XJPKE2PR5IGHH%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=f5104b365e3805792bccfa981d473c0dd98caab1c79526386a2e63c90ee26164"
                                  }
                                }
                              }
                            }
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "status": {
                                "type": "string",
                                "example": "running"
                              },
                              "filename": {
                                "type": "string",
                                "example": "arquivo.pdf"
                              },
                              "template": {
                                "type": "string"
                              },
                              "created": {
                                "type": "string",
                                "example": "2024-02-29T23:54:19.576-03:00"
                              },
                              "modified": {
                                "type": "string",
                                "example": "2024-02-29T23:56:45.462-03:00"
                              }
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "record_count": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string",
                          "example": "https://sandbox.clicksign.com/api/v3/envelopes/694ab0e3-1983-4c0b-9ea4-c8c82b73939a/documents?page%5Bnumber%5D=1&page%5Bsize%5D=20"
                        },
                        "last": {
                          "type": "string",
                          "example": "https://sandbox.clicksign.com/api/v3/envelopes/694ab0e3-1983-4c0b-9ea4-c8c82b73939a/documents?page%5Bnumber%5D=1&page%5Bsize%5D=20"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Not Found": {
                    "value": "{\n\t\"errors\": [\n\t\t{\n\t\t\t\"title\": \"Registro não encontrado\",\n\t\t\t\"detail\": \"O registro identificado por 694ab0e3-1983-4c0b-9ea4-c8c82b73939f não pôde ser encontrado\",\n\t\t\t\"code\": \"404\",\n\t\t\t\"status\": \"404\"\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "example": "Registro não encontrado"
                          },
                          "detail": {
                            "type": "string",
                            "example": "O registro identificado por 694ab0e3-1983-4c0b-9ea4-c8c82b73939f não pôde ser encontrado"
                          },
                          "code": {
                            "type": "string",
                            "example": "404"
                          },
                          "status": {
                            "type": "string",
                            "example": "404"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "503",
            "content": {
              "application/json": {
                "examples": {
                  "Service Unavailable": {
                    "value": "// O erro pode estar relacionado a não ativação do envelope em sua conta.\n// Entre em contato com o suporte para ativar ajuda@clicksign.com.\n{\n\t\"errors\": [\n\t\t{\n\t\t\t\"code\": \"service_unavailable\",\n\t\t\t\"status\": 503,\n\t\t\t\"title\": \"Verificação\",\n\t\t\t\"detail\": \"Serviço indisponível\"\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "service_unavailable"
                          },
                          "status": {
                            "type": "integer",
                            "example": 503,
                            "default": 0
                          },
                          "title": {
                            "type": "string",
                            "example": "Verificação"
                          },
                          "detail": {
                            "type": "string",
                            "example": "Serviço indisponível"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Documentos"
        ],
        "summary": "Criar Documento (Upload, por Modelo ou por Duplicação)",
        "description": "Este endpoint aceita 3 modos de criação, selecionados pelo formato do corpo da requisição:\n- **Criar Documento por Upload**: Adicionar um Documento ao Envelope a partir do base64 de um arquivo.\n- **Criar Documento por Modelo**: Adicionar um Documento ao Envelope a partir de um Modelo/Template.\n- **Criar Documento por Duplicar**: Adicionar um Documento ao Envelope a partir de um documento existente.",
        "operationId": "api-upload-documentos",
        "parameters": [
          {
            "name": "envelope_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "default": "documents",
                            "enum": [
                              "documents"
                            ]
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "filename": {
                                "type": "string",
                                "description": "Nome do arquivo com extensão do arquivo (.pdf, .docx, .doc, .txt, .png, .jpeg)."
                              },
                              "content_base64": {
                                "type": "string",
                                "description": "Base64 do arquivo desejado, consulte os formatos aceitos para [Documentos](https://developers.clicksign.com/docs/documentos) "
                              },
                              "metadata": {
                                "type": "string",
                                "description": "JSON com metadados que são utilizados nos retornos de documentos via webhooks.",
                                "format": "json"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "default": "documents",
                            "enum": [
                              "documents"
                            ]
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "filename": {
                                "type": "string",
                                "description": "Nome do arquivo com extensão **.docx**."
                              },
                              "template": {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "ID do Modelo utilizado para a criação"
                                  },
                                  "data": {
                                    "type": "string",
                                    "description": "Hash/JSON com chave e valor dos valores que alimentarão o modelo.",
                                    "default": "{}",
                                    "format": "json"
                                  }
                                }
                              },
                              "metadata": {
                                "type": "string",
                                "description": "JSON com metadados que são utilizados nos retornos de documentos via webhooks.",
                                "format": "json"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "documents"
                            ]
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "filename": {
                                "type": "string",
                                "description": "Nome do arquivo com extensão do arquivo (.pdf, .docx, .doc, .txt, .png, .jpeg)."
                              },
                              "duplicate": {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "Chave UUID do documento que será duplicado"
                                  }
                                },
                                "description": "Atributos de duplicação do documento"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                ]
              },
              "examples": {
                "Criar Documento por Upload": {
                  "summary": "Criar Documento por Upload",
                  "value": null
                },
                "Criar Documento por Modelo": {
                  "summary": "Criar Documento por Modelo",
                  "value": null
                },
                "Criar Documento por Duplicar": {
                  "summary": "Criar Documento por Duplicar",
                  "value": null
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Created": {
                    "summary": "Created",
                    "value": {
                      "data": {
                        "id": "7c1e96d7-2b78-49e2-ae8b-7baa0a417d30",
                        "type": "documents",
                        "links": {
                          "self": "...",
                          "files": {
                            "original": "..."
                          }
                        },
                        "attributes": {
                          "status": "draft",
                          "filename": "clicksign.pdf",
                          "template": null,
                          "metadata": {
                            "position_sign_fields": []
                          },
                          "migrated": false,
                          "created": "2025-10-09T13:35:20.468-03:00",
                          "modified": "2025-10-09T13:35:20.556-03:00"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Bad Request": {
                    "summary": "Bad Request",
                    "value": {
                      "errors": [
                        {
                          "code": "bad_request",
                          "status": 400,
                          "source": {
                            "pointer": "/data/attributes/duplicate"
                          },
                          "detail": "duplicate deve ser um hash"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "bad_request"
                          },
                          "status": {
                            "type": "integer",
                            "example": 400,
                            "default": 0
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "pointer": {
                                "type": "string",
                                "example": "/data/attributes/filename"
                              }
                            }
                          },
                          "detail": {
                            "type": "string",
                            "example": "filename não está em um formato válido"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Not Found": {
                    "summary": "Not Found",
                    "value": {
                      "errors": [
                        {
                          "code": "bad_request",
                          "status": 400,
                          "source": {
                            "pointer": "/data/attributes/duplicate"
                          },
                          "detail": "duplicate deve ser um hash"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "example": "Registro não encontrado"
                          },
                          "detail": {
                            "type": "string",
                            "example": "O registro identificado por 694ab0e3-1983-4c0b-9ea4-c8c82b73939f não pôde ser encontrado"
                          },
                          "code": {
                            "type": "string",
                            "example": "404"
                          },
                          "status": {
                            "type": "string",
                            "example": "404"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Unprocessable Entity": {
                    "summary": "Unprocessable Entity",
                    "value": {
                      "errors": [
                        {
                          "title": "não pode ficar em branco",
                          "detail": "content - não pode ficar em branco",
                          "code": "100",
                          "source": {
                            "pointer": "/data/attributes/content"
                          },
                          "status": "422"
                        },
                        {
                          "title": "deve ser maior ou igual à 1 byte",
                          "detail": "content - deve ser maior ou igual à 1 byte",
                          "code": "100",
                          "source": {
                            "pointer": "/data/attributes/content"
                          },
                          "status": "422"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "example": "não pode ficar em branco"
                          },
                          "detail": {
                            "type": "string",
                            "example": "content - não pode ficar em branco"
                          },
                          "code": {
                            "type": "string",
                            "example": "100"
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "pointer": {
                                "type": "string",
                                "example": "/data/attributes/content"
                              }
                            }
                          },
                          "status": {
                            "type": "string",
                            "example": "422"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "503",
            "content": {
              "application/json": {
                "examples": {
                  "Service Unavailable": {
                    "summary": "Service Unavailable",
                    "value": "// O erro pode estar relacionado a não ativação do envelope em sua conta.\n// Entre em contato com o suporte para ativar ajuda@clicksign.com.\n{\n\t\"errors\": [\n\t\t{\n\t\t\t\"code\": \"service_unavailable\",\n\t\t\t\"status\": 503,\n\t\t\t\"title\": \"Verificação\",\n\t\t\t\"detail\": \"Serviço indisponível\"\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "service_unavailable"
                          },
                          "status": {
                            "type": "integer",
                            "example": 503,
                            "default": 0
                          },
                          "title": {
                            "type": "string",
                            "example": "Verificação"
                          },
                          "detail": {
                            "type": "string",
                            "example": "Serviço indisponível"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-clicksign-variants": [
          "api-upload-documentos",
          "criar-documento-por-modelo",
          "api-duplicar-documento"
        ]
      }
    },
    "/envelopes/{envelope_id}/documents/{document_id}": {
      "patch": {
        "tags": [
          "Documentos"
        ],
        "summary": "Editar Documento",
        "description": "Cancelar ou Finalizar um Documento.",
        "operationId": "editar-documento",
        "parameters": [
          {
            "name": "envelope_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "description": "ID do Envelope que possui o documento",
            "required": true
          },
          {
            "name": "document_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "description": "ID do documento que deseja atualizar",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "ID do documento que deseja atualizar"
                      },
                      "type": {
                        "type": "string",
                        "default": "documents",
                        "enum": [
                          "documents"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "description": "Só é possível alterar status de documentos `running` (em progresso/ativados).",
                            "enum": [
                              "canceled",
                              "closed"
                            ]
                          },
                          "metadata": {
                            "type": "string",
                            "description": "JSON com metadados que são utilizados nos retornos de documentos via webhooks.",
                            "format": "json"
[...]
